tibco.bw.sample.binding.soap.jms.ZipCodeLookup/tibco.bw.sample.binding.soap.jms.ZipCodeLookup/Schemas/CitySchema.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1134438639123"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1134438639123"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "cityInfo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "city" type = "xsd:string"/>
				<xsd:element name = "state" type = "xsd:string"/>
				<xsd:element name = "location" type = "xsd:string"/>
				<xsd:element name = "latitude" type = "xsd:decimal"/>
				<xsd:element name = "longitude" type = "xsd:decimal"/>
				<xsd:element name = "zip" type = "xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "cityDistances">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "fromCity">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref = "cityInfo"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name = "toCity">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref = "cityInfo"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name = "distance" type = "xsd:decimal"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "fromToZips">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "fromZip"/>
				<xsd:element ref = "toZip"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "fromZip" type = "xsd:string"/>
	<xsd:element name = "toZip" type = "xsd:string"/>
</xsd:schema>